.article-title {
 color: #49c8fb;
}

.tagcloud a {
    display:inline-block;
    border:1px solid #898d92;
    border-radius:9em;
    padding:0 10px;
    line-height:24px;
    font-size:12px;
    text-decoration:none;
    margin:0 1px;
    margin-bottom:6px;
    color: #898d92;
}
.tagcloud a:hover,.tagcloud .tagcloud:hover,.tagcloud a:active,.tagcloud .tagcloud:active {
    color:#49c8fb;
    border-color:#49c8fb;
    text-decoration:none;
}
a.current {
    color:#fff;
    background-color:#49c8fb;  
    border-color:#49c8fb;
    text-decoration:none;
}
a.current:hover {
    color: #898d92;  
}
